<div id="profile">
	<table>
	<tr>
		<h2>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h2>
	</tr>
	<tr>
		<th>NTU Email:</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>Mobile No.:</th>
		<td><%= @user.hp %></td>
	</tr>
	<tr>
		<th>Current Location:</th>
		<td><%= @user.location ? @user.location.name : "nil" %></td>
	</tr>
	</table>
	<%= link_to "Edit My Profile", edit_user_path(current_user) %>
</div>





