<tr class="item round">
	<td class="gravatar">
		<%= link_to gravatar_for(onshelf_item.owner), onshelf_item.owner %><br/>
		<span class="owner-name"><%= link_to onshelf_item.owner.name, onshelf_item.owner %></span>
	</td>
	<td class="item-info">	
		<span class="category-tag"><%= onshelf_item.category.name.capitalize %></span>
		<span class="item-description"><%= onshelf_item.description %></span><br/>
		<span class="img-link">img url: <%= link_to onshelf_item.img_link, onshelf_item.img_link, target: '_blank' %></span><br/>
		<span class="item-extra-info"><%= time_ago_in_words(onshelf_item.onshelf_at) %> ago at <strong>somewhere</strong></span>
	</td>
	<td class="item-interaction">	
		<% unless onshelf_item.owner == current_user %>
		<span class="item-request">
			<%= form_for current_user.wishes.build(:item_id => onshelf_item.id) do |f| %>
			<%= f.hidden_field :item_id %>
			<%= f.submit "I want" %>
			<% end %>		
		</span>
		<span class="hp"><%= onshelf_item.owner.hp %></span>
		<% end %>
	</td>	
</tr>	