<% ul_block = Proc.new do |sub| %>
	<ul>
		<% sub.each do |grandchild, subsub|%>
			<li id="<%= grandchild.name %>">
				<%= form_for current_user.wishes.build(category_id: grandchild.id) do |f| %>
					<%= f.hidden_field :category_id %>
					<%= f.submit grandchild.name.capitalize, name: nil %>
				<% end %>

				<% ul_block.call(subsub) if subsub %>
			</li>	
		<% end %>
	</ul>	
<% end %>



<ul class="categories"> 
<% hierarchy.each do |child, sub_h| %>
	<li id="<%= child.name %>">
		<%= form_for current_user.wishes.build(category_id: child.id) do |f| %>
			<%= f.hidden_field :category_id %>
			<%= f.submit child.name.capitalize, name: nil %>
		<% end %>
		
		<% ul_block.call(sub_h) if sub_h %>		
		
	</li>	
<% end %>	
</ul>