<div id="categories-heading">
<% if @category.name == "base" %>
<h1>All items</h1>
<% else %>
<h1><%= @category.name.capitalize %></h1>
<% end %>
</div>

<div id="sidebar">
	<%= render 'shared/categories_hierarchy', hierarchy: @hierarchy %>
</div>

<div id="main">

<% unless @items.empty? %>
<table class="items_list" summary="all items list">
	<%= render :partial => 'shared/onshelf_item' ,:collection => @items %>
</table>	
<% else %>
<div class="non-record">
	<p>There are no record found. 
		<span id="wish-memo">
			<%= form_for current_user.wishes.build(category_id: @category.id) do |f| %>
				<%= f.hidden_field :category_id %>
				<%= f.submit "Memo my wish", name: nil %>
			<% end %>
		</span>
	</p>
	<p>You may want to browse other categories on the left, or</p>
	<p><%= link_to "search for it", search_items_path %></p>	
</div>	
<% end %>

</div>
